<div class="row text-center center-block chat-btn-box">
  <h3>Este es tu chat</h3>
  <div class="col col-md-12 ">
    <%= link_to 'Chat', user_chats_path(current_user), class: 'btn btn-success' %>
  </div>
</div>